html {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

.deathstranding {
    background-color: bisque;
    color: red;
}

.personaje, img {
    width: 300px;
}